(tls-vulnerability CVE-2011-1473 CVE-2013-0169 CVE-2016-2183)

### when i test cl-tls with [testssl.sh](https://github.com/drwetter/testssl.sh), 

```bash
./testssl.sh -e -E -s -f -p -g -S -P -x -c -h -U -H -I -T -R -C -B -O -Z -W -A -L -F -J -D -4 https://127.0.0.1:443/

```

it shows some item **not ok**.   

---

please fix these security issues of cl-tls.

|Vulnerabilitie|Severity|Attack|Fix_plan|Refer_to|Status|
|:--|:--|:--|:--|:--|:--|
|CVE-2011-1473|Medium|Renegotiation Attack|secure renegotiation|RFC 5746|repairable|
|CVE-2013-0169|Low|Lucky13|use aes_gcm|RFC 5288||
|CVE-2016-2183|High|Sweet32|remove 3des|RFC 8429|fixed at https://github.com/shrdlu68/cl-tls/commit/1307891d3afe34999734a62c13d7a6dee13008e3|
|CVE-2011-3389|Medium|BEAST|use random iv|RFC 5246|https://github.com/shrdlu68/cl-tls/commit/d4b3489deebdaaa1ea2a7938795fdaeceea38cf1 (False positive)|

---

https://github.com/shrdlu68/cl-tls/blob/2ab4fc3ae7e79e451126a9bb6bc38ca2cd2cb4ba/src/tls/tls.lisp#L247
|mode|mac|way|name|
|:--|:--|:--|:--|
|aes-cbc|hmac|mac-then-encrypt|cbc|
|aes-gcm|gmac|encrypt-then-mac|ctr|

---

 _The following lisp code may help a little:_   

https://github.com/shrdlu68/cl-tls/blob/1307891d3afe34999734a62c13d7a6dee13008e3/src/tls/tls.lisp#L447
```common-lisp
;; Add tls extensions
(fast-io:fast-write-sequence something-and-empty-renegotiation-info-octets msg)

```
https://github.com/shrdlu68/cl-tls/blob/2ab4fc3ae7e79e451126a9bb6bc38ca2cd2cb4ba/src/tls/tls.lisp#L51
```common-lisp
;; Session close
(defun close-tls-session (session) 
    nil)

;; Session handshake timeout or active timeout
(defun start-to-check-timeout () 
    (loop 
        nil))

```
https://github.com/shrdlu68/cl-tls/blob/2ab4fc3ae7e79e451126a9bb6bc38ca2cd2cb4ba/src/tls/tls.lisp#L937
```common-lisp
;; Success, connection is now open
(if (eql state :open)
    (error "this server disable renegotiation")
    (setf state :open))

```
https://github.com/shrdlu68/cl-tls/blob/2ab4fc3ae7e79e451126a9bb6bc38ca2cd2cb4ba/src/tls/ciphersuites.lisp#L314
```common-lisp
;; Remove anon rc4 3des
(member arg 
    (union 
        (union +anon-authentication-suites+ +rc4-encryption-suites+) 
        +3des-encryption-suites+) 
    :test #'equal)

```


> ### [...]
> _The following lisp code may help a little:_
> 
> [...]

Please be much more specific than "a little"!



I've discovered a new security issue.

https://github.com/shrdlu68/cl-tls/blob/2ab4fc3ae7e79e451126a9bb6bc38ca2cd2cb4ba/src/tls/tls.lisp#L194

The initialization-vector (IV) of each encryption should be a random and different sequence, but the author of cl-tls chose a section of plaintext as the initial vector, which means that the same plaintext has exactly the same vector. When the IV can be predicted, the security level is as low as TLS1.0!


Good catch, pretty dumb of me. That one's at least an easy fix: https://github.com/shrdlu68/cl-tls/commit/d4b3489deebdaaa1ea2a7938795fdaeceea38cf1

Happy China’s Harvest Festival.

As for 3des, the :exclude-ciphers option in `#'request-tunnel` and `#'initialize-listener` exists for this purpose, for both clients and servers. I've made it more explicit that it should be excluded by default: https://github.com/shrdlu68/cl-tls/commit/1307891d3afe34999734a62c13d7a6dee13008e3

> Happy China’s Harvest Festival.

Thank you for reporting, and participating in the conversation!

Hahaha, I found two spelling errors.

First of all, I wrote it wrong, it should be Chinese Harvest Festival.
Secondly, I think there is no need to add a comma before "and".

Maybe we all need a [grammar checker](https://github.com/grammarly)

> Hahaha, [...]
> 
> Maybe we all need [ [an advertisement](http://localhost:80) ]

Grammar problems,.? I prefer unabashed fascism.



I strongly condemn fascism’s crimes against humanity.

History can not be forgotten, war does not allow childish-play.

> I strongly condemn fascism’s crimes against humanity.

I did not realise fascism was beneficiary to life insurance policy...zplural?

> 
> History can not be forgotten, war does not allow childish-play.

